.bw {
    width: 90%;
    height: 70%;
    background-color:white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
}
#coupon_title{
    font-size: 30px;
    font-weight: bolder;
    
}
#jul1 {
    border: none;
    height: 3px; 
    background-color: black;
}
#main_title {
    display: flex;
    justify-content: space-around;
    padding: 2%;
    margin: 1%;
    background-color: rgba(141, 1, 1, 0.952);
    gap: 6em; 
}

#main_top {
    
    gap: 10em;
    justify-content: center;

}

 #main_title > div {
    flex: 1; 
    text-align: center;
}

#coupon_title2 {
    display: flex;
    font-weight: bold;
    font-size: 20px;
    justify-content: flex-start; 
    gap: 50px;
    margin-left: auto;
    padding-left: 20px; 
}

.coupon_content {
    justify-content: space-around;
    line-height: 5em;
    display: flex;
    
}
#coupon_period {
    color: gray;
    font-size: large;
}
#coupon_name {
    font-weight: bolder;
    font-size: large;
}
























































/*.coupon_info {
    margin: auto;
    padding: auto;
    display: flex;
    justify-content: center; 
}

#info_two{
    color: gray;
    font-size: small;
}

#info_one, #info_two, #info_three, #info_four {
    position: relative;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5% 10%; 
    text-align: center;
} */

