body, textarea {
    line-height: 1.1;
    letter-spacing: -0.03em;
}

main {
    width: 75em;
    margin: auto;
    /* padding: 100px; */
}

#contents {
    height: auto;
    padding: 10px 60px 60px 60px;
    background-color: white;
    /* text-align: center;  */
}

div#title_top {
    margin: 0px 0px 20px;
    padding: 10px 0 2px;
}

#contents > #title_top {
    margin-bottom: 20px;
    border-bottom: 1px solid #EEE;
}

#contents > #title_top > h1 {
    margin-left: 20px;
    font-size: 23px;
    font-weight: normal;
}

#contents #tab_tit #ty1 {
    /* grid-column: span 3; */
    /*width: ;*/
    height: auto;
}

#contents > #tab_tit nav{
    width: 100%;
    height: 100%;
    /* background-color: black; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 24px;
    border-bottom: 1px solid #EEE;
    padding: 3px 0px 17px;
    margin-bottom: 15px;
}

nav a {
    text-decoration: none;
    color: rgb(113, 113, 113);
    font-size: 17px;
}

#contents .con_tit {
    font-size: 20px;
    margin: 20px 0;
}

#recommend_cont {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px solid #cccccc;
}

h2 {
    font-size: 21.5px;
    font-weight: 550;
    margin: 0;
    margin-left: 3px;
    padding: 5px 0 40px;
    color: #acacac;
    /* padding-left: 5px; */
}

h3{vertical-align: bottom; margin-bottom: 7px; font-size: 12px; color: #FF243E;}

#tbl_form{
    /* margin: 0 auto; 가로 중앙 정렬을 위해 추가 */
    background-color: white;
    padding: 20px; /* 내부 여백 추가 */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 그림자 효과 추가 */
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 0;
    display: table;
    box-sizing: border-box;
    text-indent: inherit;
}

th{
    font-size: normal;
    display: table-cell;
}

#tbl_form label {
    display: flex;
    align-items: center;
}

#tbl_form input[name="inputYear"] {
    margin-right: 5px; /* 인풋과 텍스트 사이의 간격을 조절하세요 */
}

th.req {
    font-size: 14px;
    padding: 7px 4px;
}

select#iDdivisionCode {
    width: 130px;
    height: 35px;
    /* border-bottom: 1px solid #EEEEEE; */
}

#tbl_form th.req::after {
    content: '*';
    margin-left: 10px;
    color: #FF243E;
}

#tbl_form th {
    font-weight: bold;
    text-align: left;
}

#tbl_form th, #tbl_form td {
    border-bottom: 1px solid #EEEEEE;
    height: 40px;
    padding: 7px 4px;
    font-size: 15px;
}

.bx_textarea {
    position: relative;
    max-width: 100%;
    margin: 0 auto;
}

input[type="text"].ty2{
    background-color: #F8F8F8;
    border-color: #DDD;
}

input#iDcontents {
    background-color: #F8F8F8;
    border-color: #DDD;
}

input[type="text"] {
    height: 40px;
    line-height: 40px;
    padding: 0 18px;
    font-size: 14px;
    box-sizing: border-box;
    border: 1px solid #DDD;
    /* padding-block: 1px; */
    /* padding-inline: 2px; */
}

.bx_textarea textarea{
    width: 100%;
    height: 200px;
    line-height: 40px;
    padding: 0 18px;
    font-size: 14px;
    box-sizing: border-box;
    border: 1px solid #DDD;
    background-color: #F8F8F8;
    border-color: #DDD;
}

input#iDtitle.ty2 {
    width: 100%;
    height: 50px;
}

.ty {
    width: 100%;
}

input, select, button {
    /* vertical-align: middle; */
    display: flex;
    justify-content: center;
}

/* input#iDcontents {
    width: 100%;
    height: 200px;
} */

.bx_textarea .txt_count {
    float: right;
    margin-top: 8px;
    font-size: 13px;
    color: #666666;
}

.txt_count {
    font-style: normal; /* 평범한 텍스트 스타일로 변경 */
    font-weight: normal;
}


/* .bx_textarea [class^="txt_"] {
    display: inline-block;
} */

.txt_red {
    line-height: 1.4;
    padding-left: 20px;
    font-size: 13px;
}

.txt_color01 {
    color: #FF243E;
    /* font-weight: normal; */
}

#btn_wrap{
    display: flex;
    /* text-align: center; */
    justify-content: center;
    gap: 15px;
    margin: 60px 0;
}

#btn_wrap input {
    /* height: 45px;
    line-height: 43px;
    padding: 0 18px;
    margin: 0 3px; */
    min-width: 150px;
    height: 40px;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    display: inline-flex;
    align-items: center;
}

.cancle {
    background-color: white;
    border: 2px solid #880000;
    
}

.ok {
    background-color: #880000;
    color: white;
}

p {padding-left: 20px;}
